body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 5px solid blue;
}

.row {
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    background-color: antiquewhite;
}

.box {
    height: 20px;
    width: 20px;
    background-color: white;
}

.box:hover {
    background-color: black;
}